# Xcode
.DS_Store
build/
DerivedData/

# Swift Package Manager
Packages
.swiftpm/xcode/package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/readme.md